In [12]:
## ANSWER-1
marks= int(input("Enter the marks"))
if marks>90 and marks<=100 :
    print("Grade obtained is A")
elif marks>80 and marks<=90 :
    print("Grade obtained is B")
elif marks>60 and marks<=80 :
    print("Grade obtained is C")
elif marks>=0 and marks<=60 :
    print("Grade obtained is D")
else : 
    print("Please enter marks within the range of 0-100")

Enter the marks 45

Grade obtained is D

In [10]:
## ANSWER-2
costPrice= int(input("Enter the cost price of the bike in Rs: "))
if costPrice>100000 :
    print("Road tax to be paid is 15%")
elif costPrice>50000 and costPrice<=100000 :
    print("Road tax to be paid is 10%")
else :
    print("Road tax to be paid is 5%")

Enter the cost price of the bike in Rs:  40000

Road tax to be paid is 5%

In [16]:
## ANSWER-3
city= str(input("Enter any city"))
if city == 'Delhi' :
    print("")
elif city == 'Agra' :
    print("Taj mahal")
elif city == 'Jaipur':
    print("Jal Mahal")
else : 
    print("No such city available")

Enter any city Delhi

Grade obtained is A

In [5]:
## ANSWER-4
num = int(input("Enter any number"))
count = 0
while num >= 10 :
    if num % 3 == 0 :
        count = count + 1
        num = num/3
    else :
        break
print(count, "")

Enter any number 45

2

ANSWER-5
While loop is used when we have to print in accordance with the true or false of that condition. 
If the condition is true then the statements written inside the indentation of the loop are evaluated. 
If the condition is false then loop takes exit without evaluating any of the statements.
It is used when we are not aware of the range of the particular loop and have less idea as to where the loop will stop

For example :-

In [5]:
# sum up the number till the limit :
n = int(input("enter your limit"))
starting_point = 0
counter = 1

while counter <= n :
    starting_point = starting_point + counter
    counter = counter + 1
print("Sum is :- ", starting_point)

enter your limit 5

Sum is :-  15

In [7]:
# ANSWER - 6 - Nested while loop
# PATTERN- 1 
n = int(input('Enter number of rows : '))

i = 1
while i <= n :
    j = 1
    while j <= i:
        print("*", end = " ")
        j = j + 1
    print()
    i = i + 1

Enter number of rows :  10

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *
* * * * * * * *
* * * * * * * * *
* * * * * * * * * *

In [8]:
# PATTERN - 2
n = int(input('Enter number of rows : '))

i = 1
while i <= n :
    j = n
    while j >= i:
        print("*", end = " ")
        j = j - 1
    print()
    i = i + 1

Enter number of rows :  10

* * * * * * * * * *
* * * * * * * * *
* * * * * * * *
* * * * * * *
* * * * * *
* * * * *
* * * *
* * *
* *
*

In [9]:
# PATTERN - 3
n = int(input('Enter number of rows : '))

k = 1
i = 1
while i <= n :
    j = 1
    while j <= i:
        print("{:3d}".format(k), end = " ")
        j += 1
        k += 1
    print()
    i += 1

Enter number of rows :  10

  1
  2   3
  4   5   6
  7   8   9  10
 11  12  13  14  15
 16  17  18  19  20  21
 22  23  24  25  26  27  28
 29  30  31  32  33  34  35  36
 37  38  39  40  41  42  43  44  45
 46  47  48  49  50  51  52  53  54  55

In [3]:
# ANSWER - 7
n = 10
while n>0 and n<11 :
    print (n) 
    n = n - 1

10
9
8
7
6
5
4
3
2
1

In [2]:
# ANSWER - 8
n = 10
while n>0 and n<11 :
    print (n) 
    n = n - 1

10
9
8
7
6
5
4
3
2
1